# Application
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://sca23036_db_user:sca23036_db_usercluster0.ghyveh0.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRATION=7d

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# Admin Default Credentials (for seeding)
ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
